*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
.text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    border: 3px solid #fff;
    padding:  2rem 4rem;
    text-align: center;
}
.gradient{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgba(50,50,50);
    background: linear-gradient(45deg,#e94560, #11698e, #19456b, #19c79a);
    background-size: 400% 400%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    .text {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    }
}